.first-box-container {

    width: 200px;
  
    height: 100px;
  
    background-color: red;
  
  }
  
  
  
  .second-box-container {
  
    width: 200px;
  
    height: 100px;
  
    background-color: yellow;
    margin-left: 200px;
    margin-top: 100px;
  }
  
  
  
  .third-box-container {
  
    width: 200px;
  
    height: 100px;
  
    background-color: green;
  
  }